{% extends "webapp/base.html" %}

<body>

  {% if user.is_authenticated %}
       <li>User: {{ user.username }}</li>
       <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>


    {% block content %}
      <form method="POST">
        <!-- {% csrf_token %} -->
        {{ form.as_p}}
        {{ form.as_p}}
        <input type="submit" value="Upload"/>
      </form>
      <a target="_blank" rel="noopener noreferrer" href="{{ comment.tag }}">{{ comment.result }}</a>

    {% endblock content %}

  {% else %}

    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>

  {% endif %}

    <p><a href="{% url 'pars_form_page' %}">Need in site parsing?</a></p>

</body>