{% extends "mainapp/base.html" %}

{% block header %}
    <h1> Equations resolver </h1>
{% endblock header %}

{% block content %}
<div>

    <form method="POST">
         {% csrf_token %}
        {{ form.as_p}}

        <input type="submit" value="Resolve"/>
    </form>


    {% if context %}
       <h6> Функция {{ context.function_string }} на отрезке ({{ context.range_left }} {{ context.range_right }}) с точностью {{ context.accuracy }}</h6>
    {% else %}
    <h2>context.message is empty</h2>
    {% endif %}


</div>


<div>

    {% if chart %}
    <div class="fallback">
      <img src="data:image/png;base64, {{ chart|safe }}" />
    </div>
    {% endif %}

</div>

{% endblock content %}

{% block sidebar_right %}
<div>

  <p>Recent operations</p>

    {% if archive %}
    <ul>
        {% for func in archive %}
<!--            <li>f(x)={{ func.function_string }}, xE({{ func.left_edge }} {{ func.right_edge }}) +/-(10ˆ-{{ func.accuracy }})</li>-->
            <li>f(x)={{ func.function_string }}</li>
        {% endfor %}
    <ul>
    {% else %}
        <p>Archive is empty</p>

    {% endif %}


</div>

{% endblock sidebar_right %}